<mat-radio-group *ngIf="selectedType.value" class="visit-types-group" [formControl]="selectedType">
  <ng-container *ngFor="let type of visitTypes | keyvalue">
    <mat-radio-button *ngIf="type.value !== visitTypes.HOLIDAY" class="visit-types-group__button" [value]="type.value">
      {{ type.value }}
    </mat-radio-button>
  </ng-container>
</mat-radio-group>
<button mat-stroked-button (click)="changeVisitType()">Изменить</button>
