table {
  width: 100%;
}

.cell {
  border-right: 1px solid #e0e0e0;

  &_userName {
    flex: 1 0 5%;
    padding-right: 10px;
  }

  &_day {
    justify-content: center;

    &_value {
      align-items: normal;
    }
  }

  &_skippedDays,
  &_incompleteDays,
  &_warnings {
    flex: 1 0 3%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.day {
  &_type {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    &_presence {
      background-color: #8fbc8f;
    }
    &_absence {
      background-color: #f08080;
    }
    &_lateness {
      background-color: #fdf177;
    }
    &_remote-presence {
      background-color: #c0c0f5;
    }
    &_probation {
      background-color: #ba55d3;
    }
  }
}

.employee-attendance-table .mat-header-cell {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.cursor {
  &_pointer {
    cursor: pointer;
  }
}
