<div class="layout-container">
  <router-outlet></router-outlet>
</div>

<div *ngIf="loading$ | async" class="layer-container">
  <div class="layer-container__spinner"><mat-spinner></mat-spinner></div>
</div>
