<div class="visit-list">
  <ng-container *ngIf="visitList">
    <h2>Табель июнь</h2>
    <app-employee-attendance-table
      *ngIf="visitList.length; else visitListEmptyTmpl"
      [setVisitList]="visitList"
      [maxDays]="maxDays"
      (onUpdateCell)="updateCell($event)"
    ></app-employee-attendance-table>
  </ng-container>
</div>

<ng-template #visitListEmptyTmpl>Нет данных для отображения</ng-template>
