/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.layer-container {
  position: fixed;
  top: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: #a8a8a8;
  opacity: 0.3;

  &__spinner {
    position: absolute;
    top: 42%;
    left: 50%;
    z-index: 15;
  }
}
